{% extends '../base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <nav class="border border-black">
        <ul class="flex justify-normal items-center space-x-3 text-emerald-800">
            <li>Die Schule</li>
            <li>Schulleben</li>
            <li>Fachbereiche</li>
            <li>Ansprechpartner</li>
            <li>Intern</li>
            <li>Account</li>
        </ul>
    </nav>

    <header class="text-purple-600 text-center">
        <h1>Weinberg-Gymnasium</h1>
    </header>

    <!-- TODO: hier muss noch ein Bild der Schule rein-->

    <div class="Login">
        <form action="" method="post">
            {% csrf_token %}
            <label for="email" class="label">E-Mail</label>
            <input type="email" name="email" id="email" class="input" required>

            <label for="password" class="label">Passwort</label>
            <input type="password" name="password" id="password" class="input" required>

            <input type="checkbox" name="login_as_admin" id="checkbox" class="input">
            <label for="checkbox" class="label">Als Admin einloggen</label>

            <input type="submit" value="Login" class="button border border-violet-700 border-spacing-2 bg-violet-400">          

        </form>
    </div>

    <main class="neuigkeiten">
        <ul>
            <li> <h1 class="lila" >Neuigkeiten</h1> </li>
            <!-- <th> img src="" </th>   Eu Flagge -->
            <li> EU-Foerderung durch EFRE <br> <a href="">Weitere Informationen </a> </li>
            <!--<th> img src="" </th>   Leistung macht Schule Bild -->
            <!--<th> img src="" </th>   medien fit sek 1 Bild -->
        </ul>
    </main>
    <!--article-->

    {% for article in articles %}
    <p>{{ article.text }}</p>
    {% endfor %}
{% endblock %}
